Package: xtermbin
Version: 1.2
Section: network
Priority: optional
Architecture: amd64
Depends: xterm
Installed-Size: 10
Maintainer: Jefferson Rocha <lrcjefferson@gmail.com>
Description: Envie seus arquivos em texto via CLI facilmente para o termbin, uma alternativa a pastbin
